/* Shrikhand Regular 400*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Shrikhand&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Roboto Bold 700 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: #353535;
}

a:visited {
  color: #353535;
}

/* DESKTOP */
@media screen and (min-width: 993px) {
  /* HEADER */
  .back_to_homepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Shrikhand", cursive;
    padding-block: 0.6em;
  }
  .back_to_homepage .fas {
    font-size: 1.5em;
    position: relative;
    right: 1.5em;
    top: 0.3em;
  }
  .back_to_homepage h1 {
    font-size: 1.5em;
  }
  /* END OF HEADER */
  /* CONTAINER */
  .container {
    width: 100%;
  }
  .container .banner {
    width: 100%;
  }
  .container .banner img {
    width: 100%;
    height: 55em;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* END OF CONTAINER */
  /* FOOD_MENU ANIMATION */
  @-webkit-keyframes FadeInFadeOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes FadeInFadeOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* FOOD_MENU */
  .food_menu {
    background-color: #F6F6F6;
    padding-inline: .8em;
    padding-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding-bottom: 3.5em;
    margin-top: -2em;
  }
  .food_menu header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: .8em;
    margin-bottom: 2em;
    font-size: .8em;
  }
  .food_menu header h1 {
    font-family: "Shrikhand", cursive;
    font-weight: 500;
  }
  .food_menu header .far {
    font-size: 1.8em;
    position: absolute;
    top: 0.20em;
    right: 1.2em;
    font-weight: 100;
    cursor: pointer;
  }
  .food_menu header .far::after {
    content: '\f004';
    position: relative;
    right: 1.7em;
    font-size: .4em;
    bottom: 25px;
    -webkit-transition: -webkit-transform 500ms ease-in;
    transition: -webkit-transform 500ms ease-in;
    transition: transform 500ms ease-in;
    transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    top: -6px;
    visibility: hidden;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to top, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
  }
  .heart_animation:hover > .fa-heart {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to top, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .heart_animation:hover > .fa-heart::after {
    visibility: visible;
    -webkit-transform: scale(2.4);
            transform: scale(2.4);
  }
  .check_validate {
    position: absolute;
    right: 0;
    background-color: #99E2D0;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 16px;
    top: 0;
    -webkit-transition-property: width,-webkit-transform;
    transition-property: width,-webkit-transform;
    transition-property: width,transform;
    transition-property: width,transform,-webkit-transform;
    -webkit-transition-duration: 700ms;
            transition-duration: 700ms;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    width: 0%;
    z-index: 1;
  }
  .check_validate .fa-check-circle {
    font-size: 2.5em;
    color: white;
    -webkit-transition-duration: 700ms;
            transition-duration: 700ms;
    position: relative;
    top: .5em;
    left: .5em;
  }
  /* GENERAL RULES OF ANIMATION FOR ALL FOOD MENUS */
  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
    to {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  @keyframes rotation {
    from {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
    to {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  .item {
    overflow: hidden;
  }
  .item:hover > .check_validate {
    width: 6em;
  }
  .item:hover > .check_validate > .fa-check-circle {
    -webkit-animation: rotation 700ms ease-out;
            animation: rotation 700ms ease-out;
  }
  .item__price {
    -webkit-transition: padding-right 700ms ease-out;
    transition: padding-right 700ms ease-out;
  }
  .item:hover > .item__price {
    padding-right: 6em;
  }
  /* END GENERAL RULES OF ANIMATION FOR ALL FOOD MENUS */
  /* STARTER */
  .starter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.5em;
    font-family: "Roboto", sans-serif;
    -webkit-animation: FadeInFadeOut 1.5s ease-in-out;
            animation: FadeInFadeOut 1.5s ease-in-out;
    margin-bottom: 1.5em;
  }
  .starter .starter--title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    position: relative;
    left: .6em;
    margin-bottom: .8em;
    padding-bottom: .3em;
    width: 2.6em;
    width: 100%;
    text-align: center;
  }
  .starter .starter--title::after {
    content: '';
    display: block;
    border-bottom: 1px solid #99E2D0;
    border-width: 0.21em;
    width: 4em;
    margin: .3em auto;
    position: relative;
  }
  .starter .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
    margin-bottom: 0.8em;
    position: relative;
    font-size: .8em;
    width: 46%;
  }
  .starter .item .item--description h2 {
    margin-bottom: .2em;
    font-weight: 600;
  }
  .starter .item .item__price {
    position: absolute;
    right: 2em;
    top: 3em;
    font-weight: bold;
  }
  .main_course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.5em;
    font-family: "Roboto", sans-serif;
    -webkit-animation: FadeInFadeOut 2.5s ease-in-out;
            animation: FadeInFadeOut 2.5s ease-in-out;
    margin-bottom: 1.5em;
  }
  .main_course .main_course--title {
    font-weight: 500;
    font-size: 1.1em;
    position: relative;
    left: .6em;
    margin-bottom: .8em;
    margin-top: .8em;
    width: 100%;
    text-align: center;
    padding-bottom: .3em;
  }
  .main_course .main_course--title::after {
    content: '';
    display: block;
    border-bottom: 1px solid #99E2D0;
    border-width: 0.21em;
    width: 2.9em;
    margin: .3em auto;
    position: relative;
  }
  .main_course .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
    margin-bottom: 0.8em;
    position: relative;
    font-size: .8em;
    width: 46%;
  }
  .main_course .item .item--description h2 {
    margin-bottom: .2em;
    font-weight: 600;
  }
  .main_course .item .item__price {
    position: absolute;
    right: 2em;
    top: 3em;
    font-weight: bold;
  }
  .desserts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.5em;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2em;
    -webkit-animation: FadeInFadeOut 3.5s ease-in-out;
            animation: FadeInFadeOut 3.5s ease-in-out;
  }
  .desserts .desserts--title {
    font-weight: 500;
    font-size: 1.2em;
    position: relative;
    left: .6em;
    margin-bottom: .8em;
    margin-top: .8em;
    padding-bottom: .3em;
    width: 100%;
    text-align: center;
  }
  .desserts .desserts--title::after {
    content: '';
    display: block;
    border-bottom: 1px solid #99E2D0;
    border-width: 0.21em;
    width: 4.8em;
    margin: .3em auto;
    position: relative;
    left: -.1em;
  }
  .desserts .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
    margin-bottom: 0.8em;
    position: relative;
    font-size: .8em;
    width: 46%;
  }
  .desserts .item .item--description h2 {
    margin-bottom: .2em;
    font-weight: 600;
  }
  .desserts .item .item__price {
    position: absolute;
    right: 2em;
    top: 3em;
    font-weight: bold;
  }
  .button {
    padding: 0.9em 1.5em;
    border-radius: 30px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    margin-top: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.5);
            box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.5);
    width: 10em;
    margin: 0 auto;
  }
  .button a {
    color: white;
  }
  .button:hover {
    opacity: 0.7;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }
  /* END OF MENU */
  /* FOOTER */
  footer {
    background-color: #353535;
    color: white;
    padding-bottom: 2px;
  }
  .more_information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Roboto", sans-serif;
    gap: 10px;
    margin-left: 4em;
  }
  .more_information h1 {
    font-family: "Shrikhand", cursive;
    margin-bottom: 0.5em;
    position: relative;
    right: 42px;
    margin-top: 1em;
    font-weight: 500;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    width: 100%;
  }
  .icon_description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    font-size: 1em;
    position: relative;
    right: 2.5em;
    cursor: pointer;
  }
  .icon_description .fas {
    position: relative;
    top: 2px;
    font-size: 0.9em;
  }
  .icon_description #proposal {
    color: white;
  }
  .icon_description--2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    position: relative;
    right: 2.5em;
    font-size: 1em;
    cursor: pointer;
  }
  .icon_description--2 .fas {
    position: relative;
    top: 2px;
    font-size: 0.9em;
  }
  .icon_description--2 #partnership {
    color: white;
    position: relative;
    right: .3em;
  }
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    right: 39px;
    bottom: 4px;
    font-size: 1em;
    margin-bottom: 2em;
    cursor: pointer;
  }
  .list li {
    line-height: 30px;
  }
  .list .footer_link {
    color: white;
    margin-right: 1em;
  }
  /* END OF FOOTER */
}

/* END OF MEDIA QUERIES */
/* END DESKTOP */
@media screen and (min-width: 320px) and (max-width: 992px) {
  /* HEADER */
  .back_to_homepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Shrikhand", cursive;
    padding-block: 0.6em;
  }
  .back_to_homepage .fas {
    font-size: 1.5em;
    position: relative;
    right: 1.5em;
    top: 0.3em;
  }
  .back_to_homepage h1 {
    font-size: 1.5em;
  }
  /* END OF HEADER */
  /* CONTAINER */
  .container {
    width: 100%;
  }
  .container .banner {
    width: 100%;
  }
  .container .banner img {
    width: 100%;
    height: 17em;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* END OF CONTAINER */
  /* FOOD_MENU ANIMATION */
  @-webkit-keyframes FadeInFadeOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes FadeInFadeOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* FOOD_MENU */
  .food_menu {
    background-color: #F6F6F6;
    padding-inline: .8em;
    padding-top: 2em;
    z-index: 1;
    margin-top: -2em;
    border-top-right-radius: 31px;
    border-top-left-radius: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding-bottom: 3.5em;
  }
  .food_menu header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: .8em;
    margin-bottom: 2em;
    font-size: .8em;
  }
  .food_menu header h1 {
    font-family: "Shrikhand", cursive;
    font-weight: 500;
  }
  .food_menu header .far {
    font-size: 1.8em;
    position: absolute;
    top: 0.20em;
    right: 1.2em;
    font-weight: 100;
    cursor: pointer;
  }
  .food_menu header .far::after {
    content: '\f004';
    position: relative;
    right: 1.7em;
    font-size: .4em;
    bottom: 25px;
    -webkit-transition: -webkit-transform 500ms ease-in;
    transition: -webkit-transform 500ms ease-in;
    transition: transform 500ms ease-in;
    transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    top: -6px;
    visibility: hidden;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to top, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
  }
  .heart_animation:active > .fa-heart {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to top, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .heart_animation:active > .fa-heart::after {
    visibility: visible;
    -webkit-transform: scale(2.4);
            transform: scale(2.4);
  }
  .check_validate {
    position: absolute;
    right: 0;
    background-color: #99E2D0;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 16px;
    top: 0;
    -webkit-transition-property: width,-webkit-transform;
    transition-property: width,-webkit-transform;
    transition-property: width,transform;
    transition-property: width,transform,-webkit-transform;
    -webkit-transition-duration: 700ms;
            transition-duration: 700ms;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    width: 0%;
    z-index: 1;
  }
  .check_validate .fa-check-circle {
    font-size: 2.5em;
    color: white;
    -webkit-transition-duration: 700ms;
            transition-duration: 700ms;
    position: relative;
    top: .5em;
    left: .5em;
  }
  /* GENERAL RULES OF ANIMATION FOR ALL FOOD MENUS */
  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
    to {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  @keyframes rotation {
    from {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
    to {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  .item {
    overflow: hidden;
  }
  .item:active > .check_validate {
    width: 6em;
  }
  .item:active > .check_validate > .fa-check-circle {
    -webkit-animation: rotation 700ms ease-out;
            animation: rotation 700ms ease-out;
  }
  .item__price {
    -webkit-transition: padding-right 700ms ease-out;
    transition: padding-right 700ms ease-out;
  }
  .item:active > .item__price {
    padding-right: 6em;
  }
  /* END GENERAL RULES OF ANIMATION FOR ALL FOOD MENUS */
  /* STARTER */
  .starter {
    font-family: "Roboto", sans-serif;
    -webkit-animation: FadeInFadeOut 1.5s ease-in-out;
            animation: FadeInFadeOut 1.5s ease-in-out;
  }
  .starter .starter--title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    position: relative;
    left: .6em;
    margin-bottom: .8em;
    border-bottom: 1px solid #99E2D0;
    border-width: 0.21em;
    padding-bottom: .3em;
    width: 2.6em;
  }
  .starter .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
    margin-bottom: 0.8em;
    position: relative;
    font-size: .8em;
  }
  .starter .item .item--description h2 {
    margin-bottom: .2em;
    font-weight: 600;
  }
  .starter .item .item__price {
    position: absolute;
    right: 2em;
    top: 3em;
    font-weight: bold;
  }
  .main_course {
    font-family: "Roboto", sans-serif;
    -webkit-animation: FadeInFadeOut 2.5s ease-in-out;
            animation: FadeInFadeOut 2.5s ease-in-out;
  }
  .main_course .main_course--title {
    font-weight: 500;
    font-size: 1.1em;
    position: relative;
    left: .6em;
    margin-bottom: .8em;
    margin-top: .8em;
    border-bottom: 1px solid #99E2D0;
    border-width: 0.21em;
    padding-bottom: .3em;
    width: 2.5em;
  }
  .main_course .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
    margin-bottom: 0.8em;
    position: relative;
    font-size: .8em;
  }
  .main_course .item .item--description h2 {
    margin-bottom: .2em;
    font-weight: 600;
  }
  .main_course .item .item__price {
    position: absolute;
    right: 2em;
    top: 3em;
    font-weight: bold;
  }
  .desserts {
    font-family: "Roboto", sans-serif;
    margin-bottom: 2em;
    -webkit-animation: FadeInFadeOut 3.5s ease-in-out;
            animation: FadeInFadeOut 3.5s ease-in-out;
  }
  .desserts .desserts--title {
    font-weight: 500;
    font-size: 1.2em;
    position: relative;
    left: .6em;
    margin-bottom: .8em;
    margin-top: .8em;
    border-bottom: 1px solid #99E2D0;
    border-width: 0.21em;
    padding-bottom: .3em;
    width: 2.5em;
  }
  .desserts .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
    margin-bottom: 0.8em;
    position: relative;
    font-size: .8em;
  }
  .desserts .item .item--description h2 {
    margin-bottom: .2em;
    font-weight: 600;
  }
  .desserts .item .item__price {
    position: absolute;
    right: 2em;
    top: 3em;
    font-weight: bold;
  }
  .button {
    padding: 0.9em 1.5em;
    border-radius: 30px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    margin-top: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.5);
            box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.5);
    width: 10em;
    margin: 0 auto;
  }
  .button a {
    color: white;
  }
  .button:hover {
    opacity: 0.7;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }
  /* END OF MENU */
  /* FOOTER */
  footer {
    background-color: #353535;
    color: white;
  }
  .more_information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Roboto", sans-serif;
    gap: 10px;
    margin-left: 4em;
  }
  .more_information h1 {
    font-family: "Shrikhand", cursive;
    margin-bottom: 0.5em;
    position: relative;
    right: 42px;
    margin-top: 1em;
    font-weight: 500;
    font-size: 1.2em;
    cursor: pointer;
  }
  .icon_description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    font-size: 1em;
    position: relative;
    right: 2.5em;
    cursor: pointer;
  }
  .icon_description .fas {
    position: relative;
    top: 2px;
    font-size: 0.9em;
  }
  .icon_description #proposal {
    color: white;
  }
  .icon_description--2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    position: relative;
    right: 2.5em;
    font-size: 1em;
    cursor: pointer;
  }
  .icon_description--2 .fas {
    position: relative;
    top: 2px;
    font-size: 0.9em;
  }
  .icon_description--2 #partnership {
    color: white;
    position: relative;
    right: .3em;
  }
  .list {
    position: relative;
    right: 39px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 2em;
  }
  .list li {
    line-height: 30px;
  }
  .list .footer_link {
    color: white;
  }
  /* END OF FOOTER */
}

/* END OF MEDIA QUERIES */
@media screen and (max-width: 414px) {
  .food_menu .item {
    font-size: .62em;
  }
  .food_menu header .far {
    position: absolute;
    right: 0.1em;
  }
  .starter > .item:active:nth-child(4) > .item--description > h2 {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .starter > .item:active:nth-child(5) > .item--description > h2 {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .main_course > .item:active:nth-child(2) > .item--description > h2 {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .desserts > .item:active:nth-child(2) > .item--description > p {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .desserts > .item:active:nth-child(2) > .item--description > h2 {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media screen and (max-width: 400px) {
  /* CONTAINER */
  .container {
    width: 100%;
  }
  .container .banner {
    width: 100%;
  }
  .container .banner img {
    width: 100%;
    height: 13em;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* END OF CONTAINER */
}

@media screen and (min-width: 401px) and (max-width: 991px) {
  /* CONTAINER */
  .container {
    width: 100%;
  }
  .container .banner {
    width: 100%;
  }
  .container .banner img {
    width: 100%;
    height: 25em;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* END OF CONTAINER */
}
/*# sourceMappingURL=la_note_enchantée.css.map */