/* Shrikhand Regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Shrikhand&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Roboto Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
$primary_color:#9356DC;
$secondary_color : #FF79DA;
$tertiary_color:#99E2D0;
$FShrikhand: 'Shrikhand', cursive;
$FRoboto : 'Roboto', sans-serif;


*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*:visited{
    color:black;
}

/* MOBILE */
@media screen and (min-width:320px) and (max-width:767px)
{
    
    

    /* HEADER */
        #logo
        {
            display: flex;
            justify-content: center;
            padding: 1.5em 1em 0.9em 1em;
            box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
            z-index: 1;
            position:relative;
        }

    /* END OF HEADER */

    /* SECTION - 1 */
  
    .location
    {
        background-color: #E8E8E8;
        display: flex;
        justify-content: center;
        font-family: $FRoboto;
        font-weight: 500;
        font-size:1.1em;
        padding: 0.9em 1em 0.7em 1em;
        
            & .fa-map-marker-alt
            {
                position:relative;
                right:25px;
            }
            
            & p
            {
                position: relative;
                right:10px;
                
            }
    }


    /* END OF SECTION -1 */

    /* SECTION -2 */
    .section-2
    {
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "a a a"
        "b b b";
         justify-items: center;
        font-family: $FRoboto;
        padding:2rem;
        background-color: #F8F8F8;
    }

    .description
    {
        grid-area: a;
        padding:5px 0px;

        & #selected_by {
            position: relative;
            left:39px;
        }
        
    }



    .description h1
    {
        font-weight:bold;
        margin-bottom: 15px;
        position: relative;
        left:45px;
        width: 80%;
        font-size: 1.3em;
    }
    .description #convenance
    {
        position: relative;
        left:35px;
    }


    
    .description p
    {
        margin-bottom: 15px;
        font-size: 1.1em;
    }

    .button
    {
        grid-area:b;
        padding:0.9em 1.5em;
        border-radius: 30px;
        background-image:linear-gradient(to bottom right,#E370DA,#D66CDA,#AD5EDB);
        margin-top:10px;
        box-shadow: -1px 1px 7px rgba(0,0,0,0.5);
        position: relative;
        right:10px;
    }

    .button a
    {
        color:white;
    }
    
    /* END OF SECTION -2 */

    /* SECTION -3 */
    .section-3
    {
       
        margin-top:2em;
        font-family: $FRoboto;

    }
        .functioning{

        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        right:70px;
            & h1{
                
                font-size: 1.3em;
                margin-bottom: 1.1em;
                margin-right: 48px;
                
            }
        }
   
    .item {
        display: flex;
        gap: 30px;
        background-color:#F6F6F6;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-bottom: 15px;
        padding: 1.5em 1.9em;
        width:240px;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
        position: relative;
        left: 65px;
    
            & h2 
            {
                font-size: 1em;
            }

            & span {
                background-color:purple;
                border-radius:80%;
                padding: 0.3em 0.5em;
                position:absolute;
                left:-10px;
                color:white;
                font-size: 0.8em;
                top:24px;
                background-color:#9356DC;
               
            }

            & .fas{
                font-size: 1em;
                position:relative;
                top:1px;
                color:gray;
            }
            
            &:last-child:active{
                background-color:#F5EDFF;

                & .fa-store{
                    color:#9356DC;
                }
            }
            
    }

    /* END SECTION -3 */





    .section-4 img
    {
        display:none;
    }
    .section-4 {
        background:#F0F0F0;
    }

}
/* ADJUSTING SIZE AND POSITION OF ELEMENTS OF SECTION -2 ON MOBILE VERSION */
@media screen and (min-width:320px) and (max-width:368px){

    .description h1{
        position: relative;
        font-size: 1.1em;
        left:35px;
    } 

    .description p {
        font-size: 0.9em;
    }
    
    .button{
        position: relative;
        right:0;
    }
}

@media screen and (max-width:398px) {
    .item {
        padding: 1.1em;
        position: relative;
        left:70px;

            & span {
                position:absolute;
                top:17px;
            }

            & .fas {
                position:relative;
                left:9px;
            }
    }


    .functioning h1 {
        margin-left:48px;
    }
}