/* Shrikhand Regular 400*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Shrikhand&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Roboto Bold 700 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

a:visited {
  color: black;
}

/* PRE-LOAD 

#pre-load{
background:white;
z-index:9999;
height:100vh;
width:100%;
animation: dissapear 3s ease-in-out;
visibility:hidden;
position:absolute;
display:flex;
align-items: center;
flex-direction: column;

}


@keyframes dissapear {

from{
visibility:visible;
height: 100vh;
//opacity:1;
}
to {
//opacity:0;
height:0;
}
}


#pre-load img{

position:relative;
margin:0 auto;
top:15em;
left:0em;
visibility:hidden;
animation : loading 1.6s ease-in-out; 
object-fit:cover;
width:10em;
height:10em;
border-radius:50%;
box-shadow: 10px 5px 10px rgba(0,0,0,0.5),
5px 8px 8px rgba(0,0,0,0.5),
5px 8px 8px rgba(0,0,0,0.5),
5px 8px 8px rgba(0,0,0,0.5),
5px 8px 8px rgba(0,0,0,0.5),
5px 8px 8px rgba(0,0,0,0.5),
5px 8px 8px rgba(0,0,0,0.5),
5px 8px 8px rgba(0,0,0,0.5),
5px 8px 8px rgba(0,0,0,0.5),
5px 8px 8px rgba(0,0,0,0.5),
5px 8px 8px rgba(0,0,0,0.5),;
}


@keyframes loading {
from {
visibility:visible;
transform:rotate(1turn);

}

to {

visibility:hidden;

}
}


END OF PRE-LOAD */
/* DESKTOP */
@media screen and (min-width: 993px) {
  /* HEADER */
  #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.5em 1em 0.9em 1em;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: relative;
  }
  /* END OF HEADER */
  /* SECTION - 1 */
  .location {
    background-color: #EAEAEA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    padding: 0.9em 1em 0.7em 1em;
  }
  .location .fa-map-marker-alt {
    position: relative;
    right: 25px;
  }
  .location p {
    position: relative;
    right: 10px;
  }
  /* END OF SECTION -1 */
  /* SECTION -2 */
  .section-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "a a " "b b ";
    justify-items: center;
    font-family: "Roboto", sans-serif;
    padding: 2rem;
    background-color: #F8F8F8;
  }
  .description {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: a;
    padding: 5px 0px;
  }
  .description #selected_by {
    position: relative;
    left: 39px;
  }
  .description h2 {
    font-weight: bold;
    margin-bottom: 15px;
    position: relative;
    left: 45px;
    font-size: 1.3em;
  }
  .description #convenance {
    position: relative;
    left: 35px;
  }
  .description p {
    margin-bottom: 15px;
    font-size: 1.1em;
  }
  .button {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: b;
    padding: 0.9em 1.5em;
    border-radius: 30px;
    /* Temporary */
    background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    margin-top: 10px;
    position: relative;
    right: 6px;
    cursor: pointer;
    -webkit-box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.5);
            box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.5);
  }
  .button a {
    color: white;
  }
  .button:hover {
    opacity: 0.9;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }
  /* END OF SECTION -2 */
  /* SECTION -3 */
  .section-3 {
    margin-top: 2em;
    font-family: "Roboto", sans-serif;
    padding-bottom: 2em;
  }
  .functioning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3em;
    /*align-items: center;*/
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /*right:70px;*/
    padding-left: 23px;
    padding-right: 15px;
  }
  .functioning .h2 {
    font-size: 1.3em;
    margin-right: 5px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    background-color: #F6F6F6;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 1.5em 1.9em;
    width: 33%;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
    position: relative;
  }
  .item h2 {
    font-size: 1em;
    position: relative;
    right: 10px;
  }
  .item span {
    background-color: purple;
    border-radius: 80%;
    padding: 0.3em 0.5em;
    position: absolute;
    left: -10px;
    color: white;
    font-size: 0.8em;
    top: 23px;
    background-color: #9356DC;
  }
  .item .fas {
    font-size: 1em;
    position: relative;
    top: 1px;
    color: gray;
  }
  .item:hover {
    background-color: #F5EDFF;
  }
  .item:hover .fas {
    color: #9356DC;
  }
  /* END SECTION -3 */
  /* SECTION -4 */
  .section-4 {
    background: #F6F6F6;
    padding-bottom: 3em;
  }
  .food_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
    padding-top: 3em;
    font-family: "Roboto", sans-serif;
    padding-right: 16px;
    padding-left: 14px;
  }
  .food_cards .h2 {
    font-size: 1.3em;
    position: relative;
    left: 4px;
    margin-bottom: .8em;
  }
  .food_cards h2 {
    font-size: 1.2em;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .item-2 {
    position: relative;
    background-color: white;
    display: inline-block;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.21);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.21);
    color: black;
    width: 49%;
  }
  .item-2 .new_food {
    position: absolute;
    right: 15px;
    top: 15px;
    color: green;
    background-color: #99E2D0;
    font-weight: bolder;
    padding: 0.6em;
    font-size: 0.8em;
  }
  .item-2 .description_food {
    padding: 10px 0px 5px 14px;
    line-height: 24px;
  }
  .item-2 .description_food p {
    font-size: 1em;
    padding-bottom: 5px;
    line-height: 24px;
    text-align: center;
  }
  .item-2 .heart_animation {
    font-size: 1.6em;
    position: absolute;
    right: 19px;
    bottom: 27px;
  }
  .item-2 .heart_animation .fa-heart::after {
    content: '\f004';
    position: relative;
    right: 1.7em;
    font-size: .4em;
    bottom: 25px;
    -webkit-transition: -webkit-transform 500ms ease-in;
    transition: -webkit-transform 500ms ease-in;
    transition: transform 500ms ease-in;
    transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    top: -6px;
    visibility: hidden;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to top, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
  }
  .item-2 .heart_animation:hover > .fa-heart {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to top, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .item-2 .heart_animation:hover > .fa-heart::after {
    visibility: visible;
    -webkit-transform: scale(2.4);
            transform: scale(2.4);
  }
  .item-2:visited {
    color: black;
  }
  .item-2 img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 152px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  /* FOOTER */
  footer {
    background-color: #353535;
    color: white;
    padding-bottom: 2px;
  }
  .more_information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Roboto", sans-serif;
    gap: 10px;
    margin-left: 4em;
  }
  .more_information h1 {
    font-family: "Shrikhand", cursive;
    margin-bottom: 0.5em;
    position: relative;
    right: 42px;
    margin-top: 1em;
    font-weight: 500;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    width: 100%;
  }
  .icon_description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    font-size: 1em;
    position: relative;
    right: 2.5em;
    cursor: pointer;
  }
  .icon_description .fas {
    position: relative;
    top: 2px;
    font-size: 0.9em;
  }
  .icon_description #proposal {
    color: white;
  }
  .icon_description--2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    position: relative;
    right: 2.5em;
    font-size: 1em;
    cursor: pointer;
  }
  .icon_description--2 .fas {
    position: relative;
    top: 2px;
    font-size: 0.9em;
  }
  .icon_description--2 #partnership {
    color: white;
    position: relative;
    right: .3em;
  }
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    right: 39px;
    bottom: 4px;
    font-size: 1em;
    margin-bottom: 2em;
    cursor: pointer;
  }
  .list li {
    line-height: 30px;
  }
  .list .footer_link {
    color: white;
    margin-right: 1em;
  }
  /* END OF FOOTER */
}

/* END OF DESKTOP */
/* MOBILE AND TABLET */
@media screen and (min-width: 320px) and (max-width: 992px) {
  /* HEADER */
  #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.5em 1em 0.9em 1em;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: relative;
  }
  /* END OF HEADER */
  /* SECTION - 1 */
  .location {
    background-color: #EAEAEA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    padding: 0.9em 1em 0.7em 1em;
  }
  .location .fa-map-marker-alt {
    position: relative;
    right: 25px;
  }
  .location p {
    position: relative;
    right: 10px;
  }
  /* END OF SECTION -1 */
  /* SECTION -2 */
  .section-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "a a " "b b ";
    justify-items: center;
    font-family: "Roboto", sans-serif;
    padding: 2rem;
    background-color: #F8F8F8;
  }
  .description {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: a;
    padding: 5px 0px;
  }
  .description #selected_by {
    position: relative;
    left: 39px;
  }
  .description h2 {
    font-weight: bold;
    margin-bottom: 15px;
    position: relative;
    left: 45px;
    width: 80%;
    font-size: 1.3em;
  }
  .description #convenance {
    position: relative;
    left: 35px;
  }
  .description p {
    margin-bottom: 15px;
    font-size: 1.1em;
  }
  .button {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: b;
    padding: 0.9em 1.5em;
    border-radius: 30px;
    /* Temporary */
    background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    margin-top: 10px;
    position: relative;
    right: 6px;
    cursor: pointer;
    -webkit-box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.5);
            box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.5);
  }
  .button a {
    color: white;
  }
  .button:hover {
    opacity: 0.9;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }
  /* END OF SECTION -2 */
  /* SECTION -3 */
  .section-3 {
    margin-top: 2em;
    font-family: "Roboto", sans-serif;
    padding-bottom: 2em;
  }
  .functioning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*align-items: center;*/
    position: relative;
    /*right:70px;*/
    padding-left: 23px;
    padding-right: 15px;
  }
  .functioning .h2 {
    font-size: 1.3em;
    margin-bottom: 1.1em;
    margin-right: 48px;
  }
  .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    background-color: #F6F6F6;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 15px;
    padding: 1.5em 1.9em;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
    position: relative;
  }
  .item h2 {
    font-size: 1em;
    position: relative;
    right: 10px;
  }
  .item span {
    background-color: purple;
    border-radius: 80%;
    padding: 0.3em 0.5em;
    position: absolute;
    left: -10px;
    color: white;
    font-size: 0.8em;
    top: 23px;
    background-color: #9356DC;
  }
  .item .fas {
    font-size: 1em;
    position: relative;
    top: 1px;
    color: gray;
  }
  .item:last-child:active {
    background-color: #F5EDFF;
  }
  .item:last-child:active .fa-store {
    color: #9356DC;
  }
  /* END SECTION -3 */
  /* SECTION -4 */
  .section-4 {
    background: #F6F6F6;
    padding-bottom: 3em;
  }
  .food_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    padding-top: 3em;
    font-family: "Roboto", sans-serif;
    padding-right: 16px;
    padding-left: 14px;
  }
  .food_cards .h2 {
    font-size: 1.3em;
    position: relative;
    left: 4px;
  }
  .food_cards h2 {
    font-size: 1.2em;
  }
  .item-2 {
    position: relative;
    background-color: white;
    display: inline-block;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.21);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.21);
    color: black;
  }
  .item-2 .new_food {
    position: absolute;
    right: 15px;
    top: 15px;
    color: green;
    background-color: #99E2D0;
    font-weight: bolder;
    padding: 0.6em;
    font-size: 0.8em;
  }
  .item-2 .description_food {
    padding: 10px 0px 5px 14px;
    line-height: 24px;
  }
  .item-2 .description_food p {
    font-size: 1em;
    padding-bottom: 5px;
    line-height: 24px;
  }
  .item-2 .heart_animation {
    font-size: 1.6em;
    position: absolute;
    right: 19px;
    bottom: 27px;
  }
  .item-2 .heart_animation .fa-heart::after {
    content: '\f004';
    position: relative;
    right: 1.7em;
    font-size: .4em;
    bottom: 25px;
    -webkit-transition: -webkit-transform 500ms ease-in;
    transition: -webkit-transform 500ms ease-in;
    transition: transform 500ms ease-in;
    transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    top: -6px;
    visibility: hidden;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to top, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
  }
  .item-2 .heart_animation:active > .fa-heart {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to top, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .item-2 .heart_animation:active > .fa-heart::after {
    visibility: visible;
    -webkit-transform: scale(2.4);
            transform: scale(2.4);
  }
  .item-2:visited {
    color: black;
  }
  .item-2 img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 152px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  /* END OF SECTION -4 */
  /* FOOTER */
  footer {
    background-color: #353535;
    color: white;
  }
  .more_information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Roboto", sans-serif;
    gap: 10px;
    margin-left: 4em;
  }
  .more_information h1 {
    font-family: "Shrikhand", cursive;
    margin-bottom: 0.5em;
    position: relative;
    right: 42px;
    margin-top: 1em;
    font-weight: 500;
    font-size: 1.2em;
    cursor: pointer;
  }
  .icon_description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    font-size: 1em;
    position: relative;
    right: 2.5em;
    cursor: pointer;
  }
  .icon_description .fas {
    position: relative;
    top: 2px;
    font-size: 0.9em;
  }
  .icon_description #proposal {
    color: white;
  }
  .icon_description--2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    position: relative;
    right: 2.5em;
    font-size: 1em;
    cursor: pointer;
  }
  .icon_description--2 .fas {
    position: relative;
    top: 2px;
    font-size: 0.9em;
  }
  .icon_description--2 #partnership {
    color: white;
    position: relative;
    right: .3em;
  }
  .list {
    position: relative;
    right: 39px;
    font-size: 1em;
    margin-bottom: 2em;
    cursor: pointer;
  }
  .list li {
    line-height: 30px;
  }
  .list .footer_link {
    color: white;
  }
  /* END OF FOOTER */
}

/* ADJUSTING SIZE AND POSITION OF ELEMENTS OF SECTION -2 ON MOBILE VERSION */
@media screen and (min-width: 0px) and (max-width: 368px) {
  .description h2 {
    position: relative;
    font-size: 1.1em;
    left: 35px;
  }
  .description p {
    font-size: 0.9em;
  }
  .button {
    position: relative;
    right: 0;
  }
}
/*# sourceMappingURL=main.css.map */