/* Shrikhand Regular 400*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Shrikhand&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Roboto Bold 700 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

*:visited {
  color: black;
}

/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* HEADER */
  #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.5em 1em 0.9em 1em;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: relative;
  }
  /* END OF HEADER */
  /* SECTION - 1 */
  .location {
    background-color: #EAEAEA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    padding: 0.9em 1em 0.7em 1em;
  }
  .location .fa-map-marker-alt {
    position: relative;
    right: 25px;
  }
  .location p {
    position: relative;
    right: 10px;
  }
  /* END OF SECTION -1 */
  /* SECTION -2 */
  .section-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "a a " "b b ";
    justify-items: center;
    font-family: "Roboto", sans-serif;
    padding: 2rem;
    background-color: #F8F8F8;
  }
  .description {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: a;
    padding: 5px 0px;
  }
  .description #selected_by {
    position: relative;
    left: 39px;
  }
  .description h1 {
    font-weight: bold;
    margin-bottom: 15px;
    position: relative;
    left: 45px;
    width: 80%;
    font-size: 1.3em;
  }
  .description #convenance {
    position: relative;
    left: 35px;
  }
  .description p {
    margin-bottom: 15px;
    font-size: 1.1em;
  }
  .button {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: b;
    padding: 0.9em 1.5em;
    border-radius: 30px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), color-stop(#D66CDA), to(#AD5EDB));
    background-image: linear-gradient(to bottom right, #FF79DA, #D66CDA, #AD5EDB);
    margin-top: 10px;
    position: relative;
    right: 6px;
    cursor: pointer;
  }
  .button a {
    color: white;
  }
  .button:hover {
    opacity: 0.9;
    -webkit-box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.5);
            box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.5);
    -webkit-transition: 900ms;
    transition: 900ms;
  }
  /* END OF SECTION -2 */
  /* SECTION -3 */
  .section-3 {
    margin-top: 2em;
    font-family: "Roboto", sans-serif;
    padding-bottom: 2em;
  }
  .functioning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    right: 70px;
  }
  .functioning h1 {
    font-size: 1.3em;
    margin-bottom: 1.1em;
    margin-right: 48px;
  }
  .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    background-color: #F6F6F6;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 15px;
    padding: 1.5em 1.9em;
    width: 240px;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
    position: relative;
    left: 65px;
  }
  .item h2 {
    font-size: 1em;
    position: relative;
    right: 10px;
  }
  .item span {
    background-color: purple;
    border-radius: 80%;
    padding: 0.3em 0.5em;
    position: absolute;
    left: -10px;
    color: white;
    font-size: 0.8em;
    top: 23px;
    background-color: #9356DC;
  }
  .item .fas {
    font-size: 1em;
    position: relative;
    top: 1px;
    color: gray;
  }
  .item:last-child:active {
    background-color: #F5EDFF;
  }
  .item:last-child:active .fa-store {
    color: #9356DC;
  }
  /* END SECTION -3 */
  /* SECTION -4 */
  .section-4 {
    background: #F6F6F6;
    padding-bottom: 3em;
  }
  .food_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    padding-top: 3em;
    font-family: "Roboto", sans-serif;
    position: relative;
    right: 14px;
  }
  .food_cards h1 {
    font-size: 1.3em;
    position: relative;
    right: 99px;
  }
  .food_cards h2 {
    font-size: 1.2em;
  }
  .item-2 {
    position: relative;
    /* Temporary size */
    width: 315px;
    background-color: white;
    display: inline-block;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.21);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.21);
    color: black;
  }
  .item-2 .new_food {
    position: absolute;
    right: 15px;
    top: 15px;
    color: green;
    background-color: #99E2D0;
    font-weight: bolder;
    padding: 0.6em;
    font-size: 0.8em;
  }
  .item-2 .description_food {
    padding: 10px 0px 5px 14px;
    line-height: 24px;
  }
  .item-2 .description_food p {
    font-size: 1em;
    padding-bottom: 5px;
    line-height: 24px;
  }
  .item-2 .heart_animation {
    font-size: 1.6em;
    position: absolute;
    right: 19px;
    bottom: 27px;
  }
  .item-2:visited {
    color: black;
  }
  .item-2 img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 152px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  /* END OF SECTION -4 */
  /* FOOTER */
  footer {
    background-color: #353535;
    color: white;
  }
  .more_information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Roboto", sans-serif;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    position: relative;
    right: 4.5em;
  }
  .more_information h1 {
    font-family: "Shrikhand", cursive;
    margin-bottom: 0.5em;
    position: relative;
    right: 42px;
    margin-top: 1em;
    font-weight: 500;
    font-size: 1.2em;
  }
  .icon_description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    font-size: 1em;
  }
  .icon_description .fas {
    position: relative;
    top: 2px;
    font-size: 0.9em;
  }
  .icon_description--2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    position: relative;
    right: 20px;
    font-size: 1em;
  }
  .icon_description--2 .fas {
    position: relative;
    top: 2px;
    font-size: 0.9em;
  }
  .list {
    position: relative;
    right: 39px;
    font-size: 1em;
  }
  .list li {
    line-height: 30px;
  }
  /* END OF FOOTER */
}

/* ADJUSTING SIZE AND POSITION OF ELEMENTS OF SECTION -2 ON MOBILE VERSION */
@media screen and (min-width: 0px) and (max-width: 368px) {
  .description h1 {
    position: relative;
    font-size: 1.1em;
    left: 35px;
  }
  .description p {
    font-size: 0.9em;
  }
  .button {
    position: relative;
    right: 0;
  }
}

@media screen and (max-width: 398px) {
  .item {
    padding: 1.5em 1.1em 1.4em 1.1em;
    position: relative;
    left: 70px;
  }
  .item span {
    position: absolute;
    top: 21px;
  }
  .item .fas {
    position: relative;
    left: 9px;
  }
  .functioning h1 {
    margin-left: 48px;
  }
  .food_cards {
    position: relative;
    right: 0;
  }
  .food_cards h2 {
    font-size: 0.9em;
  }
  .food_cards h1 {
    position: relative;
    right: 90px;
  }
  .item-2 {
    position: relative;
    /* Temporary size */
    width: 300px;
  }
  .item-2 .new_food {
    position: absolute;
    right: 15px;
    top: 15px;
    color: green;
    background-color: #99E2D0;
    font-weight: bolder;
    padding: 0.6em;
    font-size: 0.8em;
  }
  .item-2 .description_food {
    padding: 10px 0px 5px 14px;
    line-height: 20px;
  }
  .item-2 .description_food p {
    font-size: 0.9em;
    padding-bottom: 5px;
  }
  .item-2 .heart_animation {
    font-size: 1.4em;
    position: absolute;
    right: 19px;
    bottom: 22px;
  }
  .more_information {
    position: relative;
    right: 3em;
  }
}
/*# sourceMappingURL=main.css.map */